<button type="button" (click)="goBack()" class="btn btn-primary">Back</button>
<ba-card baCardClass="with-scroll table-panel" title="Edit Preference Setting for {{producttypes}}">
    <form [formGroup]="editPrefForm" novalidate *ngIf="prefsetting">
        <!--<input type="hidden" formControlName="mapId" value="creditById.mapId">-->
        <div class="form-group">
            <label>Product Type<sup>*</sup></label>
            <input type="text" class="form-control" formControlName="productType" placeholder="" [value]="prefsetting.productType">
            <!--<small *ngIf="!editPrefForm.controls.fixedCost.valid">Set it to Zero If Not Applicable</small>-->
        </div>
        <div class="form-group">
            <label>Preference Title<sup>*</sup></label>
            <input type="text" class="form-control" formControlName="preferenceTitle" placeholder="" [value]="prefsetting.preferenceTitle">
            <!--<small *ngIf="!editPrefForm.controls.mappingName.valid">Required.</small>-->
        </div>
        <div class="form-group">
            <label>Type Of Preference<sup>*</sup></label>
            <select class="form-control" formControlName="typeOfPreference">
			  <option [value]="1">Radio Button</option>
              <option [value]="2">Check Box</option>
              <option [value]="3">Numeric Range</option>
              <option [value]="4">Text Input</option>
              <option [value]="5">Calender</option>
              <option [value]="6">Image</option>
              <option [value]="7">Location</option>
              <option [value]="8">Video</option>
            </select>
            <!--<small *ngIf="!editPrefForm.controls.creditsPerMinute.valid">Set it to Zero If Not Applicable</small>-->
        </div>
        <div class="form-group" *ngIf="prefsetting.typeOfPreference == 3">
            <label>Unit<sup>*</sup></label>
            <select class="form-control" formControlName="Unit">
			  <option [value]="1">Km</option>
              <option [value]="2">Miles</option>
              <option [value]="3">Years</option>
              <option [value]="4">Kg</option>
              <option [value]="5">Dollar</option>
            </select>
            <!--<small *ngIf="!editPrefForm.controls.fixedCost.valid">Set it to Zero If Not Applicable</small>-->
        </div>
        <label class="form-check-inline">
            <input class="form-check-input" type="checkbox" (change)="setMandatory($event)" [checked]="prefsetting.mandatory"> Mandatory
        </label>
        <label class="form-check-inline">
            <input class="form-check-input" type="checkbox" (change)="setOCS($event)" [checked]="prefsetting.onCreateScreen"> Minimum Requirement
        </label>
        <div formArrayName="optionsValue">
            <div *ngFor="let options of editPrefForm.controls.optionsValue.controls; let i=index" class="panel panel-default">
                <div class="panel-heading">
                    <span>Option No. {{i + 1}}</span>
                    <button class="close" *ngIf="editPrefForm.controls.optionsValue.controls.length > 1" (click)="deleteOptions(i)" type="button">×</button>
                </div>
                <div>
                    <input type="text" formControlName="{{i}}" class="form-control" placeholder="Title">
                </div>
            </div>
        </div>
        <div>
            <button class="btn btn-xs btn-default" (click)="addOptions()">
            Add another Option +</button>
        </div>
        <button type="submit" class="btn btn-default" (click)="editPref()">Save</button>
    </form>
</ba-card>