<div class="row">
  <div class="col-md-12">
  </div>
  <br>
  <div class="col-lg-12 col-md-12">
    <ba-card baCardClass="with-scroll table-panel" *ngIf="users">
      <input class="form-control" placeholder="Search for.." [formControl]="searchControl">
      <br>
      <div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>User Id</th>
              <th>Name</th>
              <th>Device Log</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{ user.userId }}</td>
              <td>{{ user.name.fName }}</td>
              <td><button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#device" (click)="getDeviceLog(user)">Log</button></td>
              <td><button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#editUser" (click)="getUserById(user)">Edit</button></td>
              <td><button type="button" data-toggle="modal" data-target="#confirmDel" class="btn btn-danger btn-xs" (click)="getUserById(user)">Delete</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </ba-card>
  </div>
</div>
<!-- Modal -->
<div id="editUser" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit User Detail</h4>
      </div>
      <div class="modal-body" *ngIf="userById">
        <form [formGroup]="editUserForm" novalidate>
          <div class="form-group">
            <label>User Id<sup>*</sup></label>
            <input type="text" class="form-control" formControlName="userId" placeholder="{{userById.userId}}">
          </div>
          <div formGroupName="email">
            <div class="form-group">
              <label>Email<sup>*</sup></label>
              <input type="text" class="form-control" formControlName="primaryEmail" placeholder="{{userById.email.primaryEmail}}">
              <small *ngIf="!editUserForm.controls.email.controls.primaryEmail.valid">
                    Required.
                    </small>
            </div>
          </div>
          <div formGroupName="name">
            <div class="form-group">
              <label>First Name<sup>*</sup></label>
              <input type="text" class="form-control" formControlName="fName" placeholder="{{userById.name.fName}}">
              <small *ngIf="!editUserForm.controls.name.controls.fName.valid">
                    Required.
                    </small>
            </div>
            <div class="form-group">
              <label>Last Name<sup>*</sup></label>
              <input type="text" class="form-control" formControlName="lName" placeholder="{{userById.name.lName}}">
            </div>
          </div>
          <div class="form-group">
            <label>Date Of Birth<sup>*</sup></label>
            <input type="text" class="form-control" formControlName="dob" [value]="userById.dob | date:'MM/dd/yyyy'">
            <small *ngIf="!editUserForm.controls.dob.valid">
                    Required.
                    </small>
          </div>
          <button type="submit" class="btn btn-default" [disabled]="!editUserForm.valid" data-dismiss="modal" (click)="editUser(editUserForm)">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div id="confirmDel" class="modal fade" role="dialog">
  <div class="modal-dialog" *ngIf="userById">
    <!-- Modal content-->
    <div class="modal-content">
      <!--<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Modal Header</h4>
			</div>-->
      <div class="modal-body">
        <h2>Are you sure to delete?</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="deleteUser(userById._id)">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="device" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" *ngIf="device">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Device Log</h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Device Type</th>
              <th>Last Login Date</th>
              <th>Device Make</th>
              <th>Device Model</th>
              <th>Device OS</th>
              <th>App Version</th>
              <th>Push Token</th>
            </tr>
          </thead>
          <tbody *ngFor="let log of device; let i = index;">
            <tr>
              <td>{{ i + 1 }}</td>
              <td>{{ log.preferenceTitle }}</td>
              <td>{{ log.typeOfPreference }}</td>
              <td>{{ log.mandatory }}</td>
              <td>{{ log.optionsValue }}</td>
              <td>{{ log.options }}</td>
              <td>{{ log.optionsValue }}</td>
              <td>{{ log.options }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-default" data-dismiss="modal" (click)="deleteUser(userById._id)">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>-->
      </div>
    </div>
  </div>
</div>