.status-button {
  width: 60px;
}
.modal-content {
  background-color:#ffffff;
}
.table-bordered > tbody > tr > td{
  text-align: center
}
.table > tbody > tr > td:first-child{
  text-align: center !important
}
.table > thead > tr > th {
  text-align: center;
  font-weight: bold;
}
small {
  color: black;
}
.panel {
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-default>.panel-heading {
        color: #f2f2f2;
    
    border-color: #ddd;
}
.panel-heading {
    padding: 2px 15px;
    background-color:#209e91;
        margin-bottom: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.modal-body a {
  color: #141414 !important;
}
.panel {
  margin-bottom: 10px !important;
}

md-slider {
  width: 100%;
}
.md-slider-thumb-label {
    background-color: #209e91 !important;
}

.md-slider-thumb::after {
        background-color: #209e91 !important;
        border-color:  #209e91 !important   
}