<div class="row">
  <div class="col-md-12">
    <button type="button" (click)="goBack()" class="btn btn-primary btn-sm">Back</button>
    <button type="button" data-toggle="modal" data-target="#confirmDel" class="btn btn-danger btn-sm pull-right" *ngIf="ids.length<2">Delete</button>
    <button type="button" class="btn btn-info pull-right btn-sm" (click)="editPrefsetting()" *ngIf="ids.length<2">Edit</button>
    <button type="button" (click)="create()" class="btn btn-primary pull-right btn-sm">Create New</button>
  </div>
  <br>
  <div class="col-lg-12 col-md-12">
    <div class="alert alert-danger fade in text-center" *ngIf="nodata">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <!--<strong>No Users Found</strong> Try Searching Again.-->
      <strong>No Custom Preference Setting Found For This Product Type, Please Create a New.</strong>
    </div>
    <ba-card baCardClass="with-scroll table-panel" *ngIf="defaultprefsettings" title="Default Preference Settings For {{productName}}">
      <div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Product Type</th>
              <th>Preference Type</th>
              <th>No. Of Options</th>
              <th>Display Order</th>
              <th>Mandatory</th>
              <th>Minimum Requirement</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>{{ defaultprefsettings.preferenceTitle }}</td>
              <td>{{productName}}</td>
              <td *ngIf="defaultprefsettings.typeOfPreference == 4">Text Input</td>
              <td>{{ defaultprefsettings.optionsValue.length }}</td>
              <td><button type="button" class="btn btn-info btn-sm"><span>1</span></button></td>
              <td *ngIf="defaultprefsettings.mandatory == 1">Yes</td>
              <td *ngIf="defaultprefsettings.mandatory == 0">No</td>
              <td *ngIf="defaultprefsettings.onCreateScreen == 1">Yes</td>
              <td *ngIf="defaultprefsettings.onCreateScreen == 0">No</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ba-card>
    <ba-card baCardClass="with-scroll table-panel" *ngIf="prefsettings" title="Custom Preference Settings For {{productName}}">
      <input class="form-control" placeholder="Search for.." [formControl]="searchControl">
      <br>
      <div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Select</th>
              <th>#</th>
              <th>Title</th>
              <th>Product Type</th>
              <th>Preference Type</th>
              <th>No. Of Options</th>
              <th>Display Order</th>
              <th>Mandatory</th>
              <th>Minimum Requirement</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let prefsetting of prefsettings | orderBy : ['prirority']; let i = index;">
              <td><input type="checkbox" (change)="setIds($event,prefsetting)"></td>
              <td>{{ i + 1 }}</td>
              <td>{{ prefsetting.preferenceTitle }}</td>
              <td>{{ prefsetting.productType }}</td>
              <td *ngIf="prefsetting.typeOfPreference == 1">Radio Button</td>
              <td *ngIf="prefsetting.typeOfPreference == 2">Check Box</td>
              <td *ngIf="prefsetting.typeOfPreference == 3">Numeric Range</td>
              <td *ngIf="prefsetting.typeOfPreference == 4">Text Input</td>
              <td *ngIf="prefsetting.typeOfPreference == 5">Calender</td>
              <td *ngIf="prefsetting.typeOfPreference == 6">Image</td>
              <td *ngIf="prefsetting.typeOfPreference == 7">Location</td>
              <td *ngIf="prefsetting.typeOfPreference == 8">Video</td>
              <td>{{ prefsetting.optionsValue.length }}</td>
              <td *ngIf="prefsetting.prirority == 1"><button type="button" class="btn btn-info btn-sm" (click)="decPriority(prefsetting)"><span class="ion-chevron-down"></span></button></td>
              <td *ngIf="(prefsetting.prirority == prefsettings.length)&&(prefsettings.length != 1)"><button type="button" class="btn btn-info btn-sm" (click)="incPriority(prefsetting)"><span class="ion-chevron-up"></span></button></td>
              <td *ngIf="!(prefsetting.prirority == 1) && !(prefsetting.prirority == prefsettings.length)"><button type="button" class="btn btn-info btn-sm" (click)="incPriority(prefsetting)"><span class="ion-chevron-up"></span></button>                <button type="button" class="btn btn-info btn-sm" (click)="decPriority(prefsetting)"><span class="ion-chevron-down"></span></button></td>
              <td *ngIf="prefsetting.mandatory == 1">Yes</td>
              <td *ngIf="prefsetting.mandatory == 0">No</td>
              <td *ngIf="prefsetting.onCreateScreen == 1">Yes</td>
              <td *ngIf="prefsetting.onCreateScreen == 0">No</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ba-card>
  </div>
</div>
<!-- Modal -->
<!--<div id="editPrefsetting" class="modal fade" role="dialog">
  <div class="modal-dialog">-->
    <!-- Modal content-->
    <!--<div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Product Type</h4>
      </div>
      <div class="modal-body" *ngIf="prefsettingById">
        <form [formGroup]="editPrefsettingForm" novalidate>
          <div class="form-group">
            <label>Plan Name<sup>*</sup></label>
            <input type="text" class="form-control" formControlName="productName" placeholder="{{prefsettingById.name}}">
            <small *ngIf="!editPrefsettingForm.controls.productName.valid">
                    Required.
                    </small>
          </div>
          <button type="submit" class="btn btn-default" [disabled]="!editPrefsettingForm.valid" data-dismiss="modal" (click)="editPrefsetting(editPrefsettingForm)">Submit</button>
        </form>
      </div>-->
      <!--<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" (click)="editPrefsetting(prefsettingById)">Save</button>
			</div>-->
    <!--</div>
  </div>
</div>-->
<!-- Modal -->
<div id="addPrefsetting" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Product Type</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="addPrefsettingForm" novalidate>
          <div class="form-group">
            <label>Plan Name<sup>*</sup></label>
            <input type="text" class="form-control" formControlName="productName">
            <small *ngIf="!addPrefsettingForm.controls.productName.valid">
                    Required.
                    </small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-default" [disabled]="!addPrefsettingForm.valid" data-dismiss="modal" (click)="addPrefsetting(addPrefsettingForm)">Submit</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div id="confirmDel" class="modal fade" role="dialog">
  <div class="modal-dialog" *ngIf="prefsettingById">
    <!-- Modal content-->
    <div class="modal-content">
      <!--<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Modal Header</h4>
			</div>-->
      <div class="modal-body">
        <h2>Are you sure to delete?</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="deletePrefsetting(prefsettingById._id, prefsettingById.prirority, prefsettingById.productType)">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>