<div>
  <nav class="breadcrumb">
    <li *ngFor="let url of _urls; let last = last" class="breadcrumb-item">
      <!-- disable link of last item -->
      <a role="button" *ngIf="!last" (click)="navigateTo(url)">{{friendlyName(url)}}</a>
      <span *ngIf="last">{{friendlyName(url)}}</span>
    </li>
  </nav>
</div>