<div class="row">
    <button type="button" data-toggle="modal" data-target="#notification" class="btn btn-primary btn-sm pull-right">Send Notification</button>
    <br>
    <div class="col-lg-12 col-md-12">
        <div class="alert alert-success fade in text-center" *ngIf="success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Successfully Sent Notification to Users.</strong>
        </div>
        <div class="alert alert-danger fade in text-center" *ngIf="nosuccess">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Some Error Occured Please Try Again.</strong>
        </div>
        <ba-card baCardClass="with-scroll table-panel" title="Total Viewers">
            <div class="alert alert-danger fade in text-center" *ngIf="nodata">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <!--<strong>No Users Found</strong> Try Searching Again.-->
                <strong>No User Has Viewed This Post.</strong>
            </div>
            <div>
                <table class="table table-bordered" *ngIf="data">
                    <thead>
                        <tr>
                            <th>Select All<br><input type="checkbox" (change)="selectAll($event)"></th>
                            <th>#</th>
                            <th>User Name</th>
                            <th>User Id</th>
                            <th>Email Id</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of data; let i = index;">
                            <td *ngIf="allselected"><input type="checkbox" (change)="setIds($event,user.userId)" checked></td>
                            <td *ngIf="!allselected"><input type="checkbox" (change)="setIds($event,user.userId)"></td>
                            <td>{{ i + 1 }}</td>
                            <td>{{ user.fName }}</td>
                            <td>{{ user.userId }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.timestamp | date:'longDate'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ba-card>
    </div>
</div>

<!-- Modal -->
<div id="notification" class="modal fade" role="dialog"  *ngIf="ids.length>0">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Message</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="notificationM" novalidate>
                    <div class="form-group">
                        <label>Message<sup>*</sup></label>
                        <textarea formControlName="message" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="sendNotification()">Send</button>
            </div>
        </div>
    </div>
</div>