<div class="row">
  <div class="col-md-12">
    <button type="button" data-toggle="modal" data-target="#confirmDel" class="btn btn-danger btn-sm pull-right">Delete</button>
    <button type="button" data-toggle="modal" data-target="#editCurrency" class="btn btn-info btn-sm pull-right" *ngIf="ids.length<2">Edit</button>
    <button type="button" class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#addCurrency">Create New</button>
  </div>
  <br>
  <div class="col-lg-12 col-md-12">
    <ba-card baCardClass="with-scroll table-panel">
      <input class="form-control" placeholder="Search Currency By Name or Country" [formControl]="searchControl">
      <br>
      <div class="alert alert-danger fade in text-center" *ngIf="nodata">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <!--<strong>No currency Found</strong> Try Searching Again.-->
        <strong>No currency Found.</strong>
      </div>
      <div>
        <table class="table table-bordered" *ngIf="currency">
          <thead>
            <tr>
              <th>Select</th>
              <th>Symbol</th>
              <th>Currency Id</th>
              <th>Country</th>
              <th>Currency</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let curr of currency">
              <td><input type="checkbox" (change)="setIds($event,curr)"></td>
              <td>{{ curr.symbol }}</td>
              <td>{{ curr._id }}</td>
              <td>{{ curr.country }}</td>
              <td>{{ curr.currency }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ba-card>
  </div>
</div>
<!-- Modal -->
<div id="editCurrency" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Currency Detail</h4>
      </div>
      <div class="modal-body" *ngIf="currencyById">
        <form [formGroup]="editcurrencyForm" novalidate>
          <div class="form-group">
            <label>Country<sup>*</sup></label>
            <input type="text" class="form-control" formControlName="country">
          </div>
          <div class="form-group">
            <label>Currency<sup>*</sup></label>
            <input type="text" class="form-control" formControlName="currency">
          </div>
          <div class="form-group">
            <label>Symbol<sup>*</sup></label>
            <input type="text" class="form-control" formControlName="symbol">
          </div>
          <!--<span *ngIf="imageurl">
                <img [src]="imageurl" height="200px" width="200px">
            </span>
          <div class="form-group">
            <label>Choose Image<sup>*</sup></label>
            <input type="file" ng2FileSelect [uploader]="uploader" class="form-control">
          </div>-->
          <button type="submit" class="btn btn-default" [disabled]="!editcurrencyForm.valid" data-dismiss="modal" (click)="editCurrency(editcurrencyForm)">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div id="confirmDel" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <!--<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Modal Header</h4>
			</div>-->
      <div class="modal-body">
        <h2>Are you sure to delete?</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="deleteCurrency()">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="addCurrency" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Product Type</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="addcurrencyForm" novalidate>
          <div class="form-group">
            <label>Country<sup>*</sup></label>
            <input type="text" class="form-control" formControlName="country">
            <small *ngIf="!addcurrencyForm.controls.country.valid">
                    Required.
                    </small>
          </div>
          <div class="form-group">
            <label>Currency<sup>*</sup></label>
            <input type="text" class="form-control" formControlName="currency">
            <small *ngIf="!addcurrencyForm.controls.currency.valid">
                    Required.
                    </small>
          </div>
          <div class="form-group">
            <label>Symbol<sup>*</sup></label>
            <input type="text" class="form-control" formControlName="symbol">
            <small *ngIf="!addcurrencyForm.controls.symbol.valid">
                    Required.
                    </small>
          </div>
          <!--<span *ngIf="imageurl">
                <img [src]="imageurl" height="200px" width="200px">
            </span>
          <div class="form-group">
            <label>Choose Image<sup>*</sup></label>
            <input type="file" ng2FileSelect [uploader]="uploader" class="form-control">
          </div>-->
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-default" [disabled]="!addcurrencyForm.valid" data-dismiss="modal" (click)="addCurrency(addcurrencyForm)">Submit</button>
      </div>
    </div>
  </div>
</div>