<div class="row">
  <div class="col-md-12">
    <button type="button" data-toggle="modal" data-target="#confirmDel" class="btn btn-danger btn-sm pull-right">Delete</button>
    <button type="button" data-toggle="modal" data-target="#editLanguage" class="btn btn-info btn-sm pull-right" *ngIf="ids.length<2">Edit</button>
    <button type="button" class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#addLanguage">Create New</button>
  </div>
  <br>
  <div class="col-lg-12 col-md-12">
    <ba-card baCardClass="with-scroll table-panel">
      <input class="form-control" placeholder="Search Language By Name or Country" [formControl]="searchControl">
      <br>
      <div class="alert alert-danger fade in text-center" *ngIf="nodata">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <!--<strong>No currency Found</strong> Try Searching Again.-->
        <strong>No Language Found.</strong>
      </div>
      <div>
        <table class="table table-bordered" *ngIf="language">
          <thead>
            <tr>
              <th>Select</th>
              <th>Language Id</th>
              <th>Country</th>
              <th>Language</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let curr of language">
              <td><input type="checkbox" (change)="setIds($event,curr)"></td>
              <td>{{ curr._id }}</td>
              <td>{{ curr.country }}</td>
              <td>{{ curr.language }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ba-card>
  </div>
</div>
<!-- Modal -->
<div id="editLanguage" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Language Detail</h4>
      </div>
      <div class="modal-body" *ngIf="languageById">
        <form [formGroup]="editlanguageForm" novalidate>
          <div class="form-group">
            <label>Country<sup>*</sup></label>
            <input type="text" class="form-control" formControlName="country">
          </div>
          <div class="form-group">
            <label>Language<sup>*</sup></label>
            <input type="text" class="form-control" formControlName="language">
          </div>
          <!--<div class="form-group">
            <label>Symbol<sup>*</sup></label>
            <input type="text" class="form-control" formControlName="symbol">
          </div>-->
          <!--<span *ngIf="imageurl">
                <img [src]="imageurl" height="200px" width="200px">
            </span>
          <div class="form-group">
            <label>Choose Image<sup>*</sup></label>
            <input type="file" ng2FileSelect [uploader]="uploader" class="form-control">
          </div>-->
          <button type="submit" class="btn btn-default" [disabled]="!editlanguageForm.valid" data-dismiss="modal" (click)="editLanguage(editlanguageForm)">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div id="confirmDel" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <!--<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Modal Header</h4>
			</div>-->
      <div class="modal-body">
        <h2>Are you sure to delete?</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="deleteLanguage()">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="addLanguage" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Product Type</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="addlanguageForm" novalidate>
          <div class="form-group">
            <label>Country<sup>*</sup></label>
            <input type="text" class="form-control" formControlName="country">
            <small *ngIf="!addlanguageForm.controls.country.valid">
                    Required.
                    </small>
          </div>
          <div class="form-group">
            <label>Language<sup>*</sup></label>
            <input type="text" class="form-control" formControlName="language">
            <small *ngIf="!addlanguageForm.controls.language.valid">
                    Required.
                    </small>
          </div>
          <!--<div class="form-group">
            <label>Symbol<sup>*</sup></label>
            <input type="text" class="form-control" formControlName="symbol">
            <small *ngIf="!addlanguageForm.controls.symbol.valid">
                    Required.
                    </small>
          </div>-->
          <!--<span *ngIf="imageurl">
                <img [src]="imageurl" height="200px" width="200px">
            </span>
          <div class="form-group">
            <label>Choose Image<sup>*</sup></label>
            <input type="file" ng2FileSelect [uploader]="uploader" class="form-control">
          </div>-->
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-default" [disabled]="!addlanguageForm.valid" data-dismiss="modal" (click)="addLanguage(addlanguageForm)">Submit</button>
      </div>
    </div>
  </div>
</div>