<div class="row">
  <div class="col-md-12">
    <button type="button" data-toggle="modal" data-target="#confirmDel" class="btn btn-danger btn-sm pull-right">Delete</button>
    <button type="button" class="btn btn-info pull-right btn-sm" data-toggle="modal" data-target="#editProducttype" (click)="getProducttypeById()" *ngIf="ids.length<2">Edit</button>
    <button type="button" class="btn btn-primary pull-right btn-sm" data-toggle="modal" data-target="#addProducttype">Create New</button>
  </div>
  <br>
  <div class="col-lg-12 col-md-12">
    <ba-card baCardClass="with-scroll table-panel" *ngIf="producttypes">
      <input class="form-control" placeholder="Search Product Type By Name" [formControl]="searchControl">
      <br>
      <div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Select</th>
              <th>Id</th>
              <th>Name</th>
              <th>Icon</th>
              <th>Preference Settings</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producttype of producttypes">
              <td><input type="checkbox" (change)="setIds($event,producttype)"></td>
              <td>{{ producttype._id }}</td>
              <td>{{ producttype.productName }}</td>
              <td><img src="{{producttype.imgPath}}" style="height: 40px;width: 40px;"></td>
              <td><button type="button" class="btn btn-primary btn-sm" (click)="getPreference(producttype._id)">View Preferences</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </ba-card>
  </div>
</div>
<!-- Modal -->
<div id="editProducttype" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Product Type</h4>
      </div>
      <div class="modal-body" *ngIf="producttypeById">
        <form [formGroup]="editProducttypeForm" novalidate>
          <div class="form-group">
            <label>Plan Name<sup>*</sup></label>
            <input type="text" class="form-control" formControlName="productName" placeholder="{{producttypeById.name}}">
            <small *ngIf="!editProducttypeForm.controls.productName.valid">
                    Required.
                    </small>
          </div>
          <span *ngIf="imageurl">
                <img [src]="imageurl" [title]="productName | uppercase" [style.width.px]="imageWidth" [style.height.px]="imageHeight" [style.margin-bottom.px]="imageBottom">
            </span>
          <div class="form-group">
            <label>Choose Image<sup>*</sup></label>
            <input type="file" ng2FileSelect [uploader]="uploader" class="form-control">
          </div>
          <button type="submit" class="btn btn-default" [disabled]="!editProducttypeForm.valid" data-dismiss="modal" (click)="editProducttype(editProducttypeForm)">Submit</button>
        </form>
      </div>
      <!--<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" (click)="editProducttype(producttypeById)">Save</button>
			</div>-->
    </div>
  </div>
</div>
<!-- Modal -->
<div id="addProducttype" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Product Type</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="addProducttypeForm" novalidate>
          <div class="form-group">
            <label>Product Name<sup>*</sup></label>
            <input type="text" class="form-control" formControlName="productName">
            <small *ngIf="!addProducttypeForm.controls.productName.valid">
                    Required.
                    </small>
          </div>
          <span *ngIf="imageurl">
                <img [src]="imageurl" [title]="productName | uppercase" [style.width.px]="imageWidth" [style.height.px]="imageHeight" [style.margin-bottom.px]="imageBottom">
            </span>
          <div class="form-group">
            <label>Choose Image<sup>*</sup></label>
            <input type="file" ng2FileSelect [uploader]="uploader" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-default" [disabled]="!addProducttypeForm.valid" data-dismiss="modal" (click)="addProducttype(addProducttypeForm)">Submit</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div id="confirmDel" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <!--<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Modal Header</h4>
			</div>-->
      <div class="modal-body">
        <h2>Are you sure to delete?</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="deleteProducttype()">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>