<div class="auth-main">
  <div class="auth-block">
    <h1>Sign in to SalesPaddock</h1>

    <form [formGroup]="form" class="form-horizontal">
      <div class="form-group row">
        <label for="username" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input formControlName="email" type="text" class="form-control" placeholder="Username">
        </div>
      </div>
      <div class="form-group row">
        <label for="password" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
          <input formControlName="password" type="password" class="form-control" placeholder="Password">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-10">
          <button [disabled]="!form.valid" type="submit" class="btn btn-default btn-auth" (click)="signIn(form)">Sign in</button>
        </div>
      </div>
    </form>
  </div>
</div>
