<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-primary btn-sm" (click)="goBack()">Back</button>
    </div>
    <br>
    <div class="col-lg-12 col-md-12">
        <ba-card baCardClass="with-scroll table-panel" title="Create FAQ">
            <div class="form-group">
                <label>Question<sup>*</sup></label>
                <input type="text" class="form-control" [(ngModel)]="question">
            </div>
            <div class="form-group">
                <label>Answer<sup>*</sup></label>
                <ckeditor [(ngModel)]="answer"></ckeditor>
            </div>
            <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#addImage">Add Image</button>
            <button class="btn btn-primary btn-sm btn-block" (click)="addFAQ()">Save</button>
        </ba-card>
    </div>
</div>


<!-- Modal -->
<div id="addImage" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Choose Image </h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="btn-group" *ngFor="let img of images">
                        <button type="button" class="btn btn-primary" (click)="addImage(img)" data-dismiss="modal"><img src="{{img}}" alt="" width="120px" height="90px"></button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#uploadImage">Upload</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="uploadImage" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Choose Image </h4>
            </div>
            <div class="modal-body">
                <div>
                    <img-cropper [image]="data" [settings]="cropperSettings"></img-cropper>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" (click)="confirmUpload(i)" data-dismiss="modal">Upload Image</button>
            </div>
        </div>
    </div>
</div>