<ba-card baCardClass="with-scroll table-panel" title="View Post" *ngIf="post">
    <ul class="list-group">
        <li class="list-group-item">Status <span class="badge">{{post.activeStatus}}</span></li>
        <li class="list-group-item">Created On <span class="badge">{{post.created | date:'longDate'}}</span></li>
        <li class="list-group-item">Product Type <span class="badge">{{post.productType}}</span></li>
        <li class="list-group-item">User ID <span class="badge">{{post.userId}}</span></li>
        <li class="list-group-item">
            <h4>Preferences:</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Preference Title</th>
                        <th>Type of Preference</th>
                        <th>Mandatory</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody *ngFor="let val of post.values; let i = index;">
                    <tr>
                        <td>{{ i + 1 }}</td>
                        <td>{{ val.preferenceTitle }}</td>
                        <td *ngIf="val.typeOfPreference == 1">Radio Button</td>
                        <td *ngIf="val.typeOfPreference == 2">CheckBox</td>
                        <td *ngIf="val.typeOfPreference == 3">Range</td>
                        <td *ngIf="val.typeOfPreference == 4">Text Input</td>
                        <td *ngIf="val.typeOfPreference == 5">Calender</td>
                        <td *ngIf="val.typeOfPreference == 6">Image</td>
                        <td *ngIf="val.typeOfPreference == 7">Location</td>
                        <td *ngIf="val.typeOfPreference == 8">Video</td>
                        <td *ngIf="val.mandatory == 0">No</td>
                        <td *ngIf="val.mandatory == 1">Yes</td>
                        <td *ngIf="val.typeOfPreference == 1">{{ val.options }}</td>
                        <td *ngIf="val.typeOfPreference == 2">{{ val.options }}</td>
                        <td *ngIf="val.typeOfPreference == 3">{{ val.options }}</td>
                        <td *ngIf="val.typeOfPreference == 4">{{ val.options }}</td>
                        <td *ngIf="val.typeOfPreference == 5">{{ val.options }}</td>
                        <td *ngIf="val.typeOfPreference == 6">
                            <div *ngFor="let img of val.options; let j = index;">
                                <span *ngIf="img.type==0">
                                    <div>
                                        <img [src]="img.imageUrl" width="200px" height="200px">
                                        <br>
                                    </div>
                                </span>
                                <span *ngIf="img.type==1">
                                    <video width="400" height="200" [src]="img.imageUrl" controls>
                                        Your browser does not support HTML5 video.
                                    </video>
                                    <br>
                                </span>
                            </div>
                        </td>
                        <td *ngIf="val.typeOfPreference == 7">
                            <sebm-google-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                                <sebm-google-map-marker [latitude]="latitude" [longitude]="longitude"></sebm-google-map-marker>
                            </sebm-google-map>
                        </td>
                        <td *ngIf="val.typeOfPreference == 8">
                            <video width="400" height="200" controls src="{{val.options}}">
                                Your browser does not support HTML5 video.
                            </video>
                        </td>

                    </tr>
                </tbody>
            </table>
        </li>
    </ul>

</ba-card>