<div class="row">
  <div class="col-md-12">
    <a type="button" routerLink="./create" class="btn btn-primary">Create New</a>
  </div>
  <br>
  <div class="col-lg-12 col-md-12">
    <ba-card baCardClass="with-scroll table-panel" *ngIf="posts">
      <input class="form-control" placeholder="Search for.." [formControl]="searchControl">
      <br>
      <div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Post Name</th>
              <th>Product Type</th>
              <th>Posted By</th>
              <th>Posted On</th>
              <th>Make Inactive</th>
              <th>View</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let post of posts; let i = index;">
              <td>{{ i + 1 }}</td>
              <td>{{ post.HorseName }}</td>
              <td>{{ post.productType }}</td>
              <td>{{ post.userId }}</td>
              <th>Posted On</th>
              <td><a type="button" class="btn btn-info btn-xs" (click)="editPost(post._id)">Make Inactive</a></td>
              <td><a type="button" class="btn btn-info btn-xs" (click)="getpostById(post)" data-toggle="modal" data-target="#view">View</a></td>
              <td><a type="button" class="btn btn-info btn-xs" (click)="editPost(post._id)">Edit</a></td>
              <td><a type="button" data-toggle="modal" data-target="#confirmDel" class="btn btn-danger btn-xs" (click)="getpostById(post)">Delete</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </ba-card>
  </div>
</div>
<!-- Modal -->
<div id="confirmDel" class="modal fade" role="dialog">
  <div class="modal-dialog" *ngIf="postById">
    <!-- Modal content-->
    <div class="modal-content">
      <!--<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Modal Header</h4>
			</div>-->
      <div class="modal-body">
        <h2>Are you sure to delete?</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="deletePost(postById._id)">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

