<div class="row">
  <!--<div class="col-md-12">
    <a type="button" routerLink="./create" class="btn btn-primary">Create New</a>
  </div>-->
  <button type="button" data-toggle="modal" data-target="#confirmDel" class="btn btn-danger btn-sm pull-right">Delete</button>
  <button type="button" class="btn btn-info btn-sm pull-right" (click)="editPost()" *ngIf="ids.length<2">Edit</button>
  <button type="button" class="btn btn-info btn-sm pull-right" (click)="viewPost()" *ngIf="ids.length<2">View</button>
  <br>
  <div class="col-lg-12 col-md-12">
    <ba-card baCardClass="with-scroll table-panel">
      <input class="form-control" placeholder="Search Post By Name" [formControl]="searchControl">
      <br>
    <div class="alert alert-danger fade in text-center" *ngIf="nodata">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <!--<strong>No Users Found</strong> Try Searching Again.-->
      <strong>No Post Found, Please Create a New.</strong>
    </div>
      <div class="alert alert-danger fade in text-center" *ngIf="nouserresult">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <!--<strong>No Users Found</strong> Try Searching Again.-->
        <strong>No Search Result Found.</strong>
      </div>
      <div>
        <table class="table table-bordered" *ngIf="posts">
          <thead>
            <tr>
              <th>Select</th>
              <th>#</th>
              <th>Post Name</th>
              <th>Product Type</th>
              <th>Posted By</th>
              <th>Email</th>
              <th>Posted On</th>
            </tr>
          </thead>
          <tbody> 
            <tr *ngFor="let post of posts; let i = index;">
              <td><input type="checkbox" (change)="setIds($event,post)"></td>
              <td>{{ i + 1 }}</td>
              <td>{{ post.productName }}</td>
              <td>{{ post.productType }}</td>
              <td><button type="button" class="btn btn-default btn-sm" (click)="getUserById(post.userId)" data-toggle="modal" data-target="#user">{{ post.userName }}</button></td>
              <td>{{ post.email }}</td>
              <td>{{ post.created | date:'longDate'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ba-card>
    <button (click)="loadMore()" *ngIf="posts && !disable" class="pull-right btn btn-primary text-uppercase"><i class="fa fa-arrow-down"></i> Load More</button>
  </div>
</div>


<!-- Modal -->
<div id="confirmDel" class="modal fade" role="dialog">
  <div class="modal-dialog" *ngIf="postById">
    <!-- Modal content-->
    <div class="modal-content">
      <!--<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Modal Header</h4>
			</div>-->
      <div class="modal-body">
        <h2>Are you sure to delete?</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="deletePost(postById._id)">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>


<div id="user" class="modal fade" role="dialog">
  <div class="modal-dialog" *ngIf="user">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">User Details</h4>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item">UserName <span class="badge">{{user.userId}}</span></li>
          <li class="list-group-item">Name <span class="badge">{{user.name.fName}}</span></li>
          <li class="list-group-item">Phone <span class="badge">{{user.phone}}</span></li>
          <li class="list-group-item">Email <span class="badge">{{user.email.primaryEmail}}</span></li>
          <!--<li class="list-group-item">Last logged in time <span class="badge">{{user.loginDate | date: 'medium' }}</span></li>
						<li class="list-group-item">Current status <span class="badge">{{user.Status}}</span></li>
						<li class="list-group-item" *ngIf="((user.PushToken).length) < 100">Push Token <span class="badge">{{user.PushToken}}</span></li>
						<li class="list-group-item" *ngIf="((user.PushToken).length) > 100">Push Token <span class="badge">{{user.PushToken.substring(0, 50)}}</span></li>
						<li class="list-group-item form-control"><span class="profile-pic">ProfilePic </span> <span class="badge"><img src="{{user.ProfilePic}}" style="height: 50px;width: 50px;"></span></li>-->
        </ul>
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-default" data-dismiss="modal" (click)="editDepartment(department)">Save</button>-->
      </div>
    </div>

  </div>
</div>


<!-- Modal -->
<div id="view" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" *ngIf="postByIdToView">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">Post Details</h4>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item">Status <span class="badge">{{postByIdToView.activeStatus}}</span></li>
          <li class="list-group-item">Created On <span class="badge">{{postByIdToView.created | date:'longDate'}}</span></li>
          <li class="list-group-item">Product Type <span class="badge">{{postByIdToView.productType}}</span></li>
          <li class="list-group-item">User ID <span class="badge">{{postByIdToView.userId}}</span></li>
          <li class="list-group-item">
            <h2 class="text-center">Preferences</h2>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Preference Title</th>
                  <th>Type of Preference</th>
                  <th>Mandatory</th>
                  <th>Options</th>
                  <th>Selected</th>
                </tr>
              </thead>
              <tbody *ngFor="let val of postByIdToView.values; let i = index;">
                <tr>
                  <td>{{ i + 1 }}</td>
                  <td>{{ val.preferenceTitle }}</td>
                  <td>{{ val.typeOfPreference }}</td>
                  <td>{{ val.mandatory }}</td>
                  <td>{{ val.optionsValue }}</td>
                  <td>{{ val.options }}</td>
                </tr>
              </tbody>
            </table>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-default" data-dismiss="modal" (click)="deletePost(postById._id)">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>-->
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div id="makeActivePost" class="modal fade" role="dialog">
  <div class="modal-dialog" *ngIf="postById">
    <!-- Modal content-->
    <div class="modal-content">
      <!--<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Modal Header</h4>
			</div>-->
      <div class="modal-body">
        <h2>Are you sure to Make This Post Active</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="makeActivePost(postById._id)">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>