<div class="row">
  <div class="col-md-12">
    <button type="button" class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#notification" *ngIf="ids.length==0">Push Notification(All Users)</button>
    <button type="button" class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#notification" *ngIf="ids.length>=1">Push Notification({{ids.length}} Users)</button>
    <button type="button" data-toggle="modal" data-target="#confirmDel" class="btn btn-danger btn-sm pull-right" *ngIf="ids.length<2">Delete</button>
    <button type="button" class="btn btn-info btn-sm pull-right" (click)="editUser()" *ngIf="ids.length<2">Edit</button>
    <button type="button" class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#makeinactive">Make InActive</button>
    <button type="button" class="btn btn-info btn-sm pull-right" data-toggle="modal" data-target="#details" *ngIf="ids.length<2" (click)="viewUser()">View</button>
  </div>
  <br>
  <div class="col-lg-12 col-md-12">
    <ba-card baCardClass="with-scroll table-panel">
      <input class="form-control" placeholder="Search User By Name or UserID" [formControl]="searchControl">
      <br>
      <div class="alert alert-danger fade in text-center" *ngIf="nodata">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <!--<strong>No Users Found</strong> Try Searching Again.-->
        <strong>No Active User Found.</strong>
      </div>

        <div class="alert alert-success fade in text-center" *ngIf="success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Successfully Sent Notification to Users.</strong>
        </div>
        <div class="alert alert-danger fade in text-center" *ngIf="nosuccess">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Some Error Occured Please Try Again.</strong>
        </div>
      <div>
        <table class="table table-bordered" *ngIf="users">
          <thead>
            <tr>
              <th>Select</th>
              <th>User Id</th>
              <th>Name</th>
              <th>Email</th>
              <th>Posts</th>
              <th>Device Log</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td><input type="checkbox" (change)="setIds($event,user)"></td>
              <td>{{ user.userId }}</td>
              <td>{{ user.name.fName }}</td>
              <td>{{ user.email.primaryEmail}}</td>
              <td><button type="button" class="btn btn-default btn-sm" (click)="getPosts(user.userId)">Posts</button></td>
              <td><button type="button" class="btn btn-default btn-sm" (click)="getDeviceLog(user.userId)">Log</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </ba-card>
    <button (click)="loadMore()" *ngIf="users && !disable" class="pull-right btn btn-primary text-uppercase"><i class="fa fa-arrow-down"></i> Load More</button>
  </div>
</div>
<!-- Modal -->
<div id="confirmDel" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <!--<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Modal Header</h4>
			</div>-->
      <div class="modal-body">
        <h2>Are you sure to delete?</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="deleteUser()">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div id="makeinactive" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <!--<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Modal Header</h4>
			</div>-->
      <div class="modal-body">
        <h2>Are you sure to Make This User In-Active</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="makeUserInActive()">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="details" class="modal fade" role="dialog">
  <div class="modal-dialog" *ngIf="userById">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">User Details</h4>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item img" *ngIf="userById.profilePic">Profile Pic <span class="badge"><img src="{{userById.profilePic}}" style="height: 50px;width: 50px;"></span>
</li>
<li class="list-group-item" *ngIf="userById.name.fName">First Name <span class="badge">{{userById.name.fName}}</span></li>
<li class="list-group-item" *ngIf="userById.name.lName">Last Name <span class="badge">{{userById.name.lName}}</span></li>
<li class="list-group-item" *ngIf="userById.dob">Date Of Birth <span class="badge">{{userById.dob | date:'shortDate'}}</span></li>
<li class="list-group-item" *ngIf="userById.phone">Phone <span class="badge">{{userById.phone}}</span></li>
<li class="list-group-item" *ngIf="userById.email.primaryEmail">Primary Email <span class="badge">{{userById.email.primaryEmail}}</span></li>
<li class="list-group-item" *ngIf="userById.email.workEmail">Work Email <span class="badge">{{userById.email.workEmail}}</span></li>
<li class="list-group-item" *ngIf="userById.gender">Gender <span class="badge" *ngIf="userById.gender == 1">Male</span><span class="badge" *ngIf="userById.gender == 2">Female</span></li>
<li class="list-group-item" *ngIf="userById.location">Location <span class="badge">{{userById.location}}</span></li>
<li class="list-group-item" *ngIf="userById.company">Company <span class="badge">{{userById.company}}</span></li>
<li class="list-group-item" *ngIf="userById.address">Address <span class="badge">{{userById.address}}</span></li>
</ul>
</div>
<div class="modal-footer">
  <!--<button type="button" class="btn btn-default" data-dismiss="modal" (click)="makeUserInActive(userById._id)">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>-->
</div>
</div>
</div>
</div>


<!-- Modal -->
<div id="notification" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Message</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="notificationM" novalidate>
                    <div class="form-group">
                        <label>Message<sup>*</sup></label>
                        <textarea formControlName="message" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="sendNotification()">Send</button>
            </div>
        </div>
    </div>
</div>