<ba-card baCardClass="with-scroll table-panel" title="Edit User Details" *ngIf="userById">
  <div class="row">
    <form [formGroup]="editUserForm" novalidate>
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>User Id<sup>*</sup></label>
                <input type="text" class="form-control" formControlName="userId" placeholder="{{userById.userId}}">
              </div>
            </div>
            <div class="col-md-6">
              <div formGroupName="email">
                <div class="form-group">
                  <label>Email<sup>*</sup></label>
                  <input type="text" class="form-control" formControlName="primaryEmail" placeholder="{{userById.email.primaryEmail}}">
                  <small *ngIf="!editUserForm.controls.email.controls.primaryEmail.valid">
                    Required.
                    </small>
                </div>
              </div>
            </div>
          </div>
          <div class="row" formGroupName="name">
            <div class="col-md-6">
              <div class="form-group">
                <label>First Name<sup>*</sup></label>
                <input type="text" class="form-control" formControlName="fName" placeholder="{{userById.name.fName}}">
                <small *ngIf="!editUserForm.controls.name.controls.fName.valid">
                    Required.
                    </small>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Last Name<sup>*</sup></label>
                <input type="text" class="form-control" formControlName="lName" placeholder="{{userById.name.lName}}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Date Of Birth<sup>*</sup></label>
                <input type="text" class="form-control" formControlName="dob" [value]="userById.dob | date:'MM/dd/yyyy'">
                <small *ngIf="!editUserForm.controls.dob.valid">
                    Required.
                    </small>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Password<sup>*</sup></label>
                <input type="password" class="form-control" formControlName="password" placeholder="{{userById.password}}">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <span *ngIf="!imageurl">
                <img src="http://oubomsk.ru/oformlenie/default-user.png" [title]="productName | uppercase" [style.width.px]="imageWidth" [style.height.px]="imageHeight" [style.margin-bottom.px]="imageBottom">
            </span>
          <span *ngIf="imageurl">
                <img [src]="imageurl" [title]="productName | uppercase" [style.width.px]="imageWidth" [style.height.px]="imageHeight" [style.margin-bottom.px]="imageBottom">
            </span>
          <div class="form-group">
            <!--<label>Choose Image<sup>*</sup></label>-->
            <input type="file" ng2FileSelect [uploader]="uploader" class="form-control">
          </div>
        </div>
      </div>
      <div>
      </div>
      <button type="submit" class="btn btn-default" [disabled]="!editUserForm.valid" data-dismiss="modal" (click)="editUser()">Submit</button>
    </form>
  </div>
</ba-card>