<ba-card baCardClass="with-scroll table-panel" title="Edit Post" *ngIf="post">
    <div class="alert alert-danger fade in text-center" *ngIf="noprefsetting">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <!--<strong>No Users Found</strong> Try Searching Again.-->
        <strong>No Preference Setting Found For This Product Type, Please Select Any Other Product.</strong>
    </div>
    <form [formGroup]="editPostForm" novalidate>
        <div class="form-group">
            <label>Product Type<sup>*</sup></label>
            <input type="text" formControlName="productType" class="form-control">
        </div>
        <div class="form-group">
            <label>Posted By:<sup>*</sup></label>
            <input type="text" formControlName="userId" class="form-control">
        </div>
        <div *ngIf="valuesExist">
            <div formArrayName="values">
                <div *ngFor="let prefsetting of prefsettings; let value of editPostForm.controls.values.controls; let i=index;" class="panel panel-default">
                    <div>
                        <div *ngIf="(prefsetting.typeOfPreference) == '1'">
                            <div class="panel-heading">
                                <span>{{i + 1}} {{prefsetting.preferenceTitle}}</span>
                            </div>
                            <div [formGroupName]="i">
                                <div>
                                    <label *ngFor="let option of prefsetting.optionsValue;">
                                    <span *ngIf="option == prefsetting.options">
                                        <input type="radio" style="margin-right:2%" [value]="option" name="{{prefsetting.preferenceTitle}}" (change)="setRadioValue($event, i)" checked>{{option}}
                                    </span>
                                    <span *ngIf="!(option == prefsetting.options)">
                                        <input type="radio" style="margin-right:2%" [value]="option" name="{{prefsetting.preferenceTitle}}" (change)="setRadioValue($event, i)">{{option}}
                                    </span>
                                </label>
                                </div>
                                <div>
                                    <input type="text" formControlName="pref_id" class="form-control" hidden>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="(prefsetting.typeOfPreference) == '2'">
                            <div class="panel-heading">
                                <span>{{i + 1}} {{prefsetting.preferenceTitle}}</span>
                            </div>
                            <div [formGroupName]="i">
                                <div *ngIf="'editPostForm.controls.values.controls.'+i+'.controls.options'">
                                    <label *ngFor="let option of prefsetting.options;">
                                    <input type="checkbox" (change)="setCheckValue($event, i, option)" checked>{{option}}
                                </label>
                                </div>
                                <div>
                                    <label *ngFor="let option of prefsetting.optionsValue | checked: prefsetting.options; let j=index;">
                                    <input type="checkbox" (change)="setCheckValue($event, i, option)">{{option}}
                                </label>
                                </div>
                                <div>
                                    <input type="text" formControlName="pref_id" class="form-control" hidden>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="(prefsetting.typeOfPreference) == '3'">
                            <div class="panel-heading">
                                <span>{{i + 1}} {{prefsetting.preferenceTitle}}</span>
                            </div>
                            <div [formGroupName]="i">
                                <div>
                                    <span>Min Value :{{prefsetting.optionsValue[0]}}</span>
                                    <span class="pull-right">Max Value :{{prefsetting.optionsValue[1]}}</span>
                                    <div>
                                        <input type="text" class="form-control" placeholder="Sale Price" formControlName="options">
                                    </div>
                                </div>
                                <div>
                                    <input type="text" formControlName="pref_id" class="form-control" hidden>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="(prefsetting.typeOfPreference) == '4'">
                            <div class="panel-heading">
                                <span>{{i + 1}} {{prefsetting.preferenceTitle}}</span>
                            </div>
                            <div [formGroupName]="i" *ngFor="let option of prefsetting.optionsValue">
                                <div *ngIf="(prefsetting.preferenceTitle == 'Description')">
                                    <!-- <ckeditor [(ngModel)]="optionss"   (change)="setCkeditorvalue($event, i)"  [ngModelOptions]="{standalone: true}"   > </ckeditor> -->
                                    <textarea type="text" formControlName="options" class="form-control" placeholder="Description"> </textarea>
                                </div>
                                <div *ngIf="!(prefsetting.preferenceTitle == 'Description')">
                                    <input type="text" formControlName="options" class="form-control" placeholder="Title">
                                </div>
                                <div>
                                    <input type="text" formControlName="pref_id" class="form-control" hidden>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="(prefsetting.typeOfPreference) == '5'">
                            <div class="panel-heading">
                                <span>{{i + 1}} {{prefsetting.preferenceTitle}}</span>
                            </div>
                            <div [formGroupName]="i" *ngFor="let option of prefsetting.optionsValue">
                                <div>
                                    <my-date-picker [options]="myDatePickerOptions" (dateChanged)="this.editPostForm.controls['values'].controls[i].controls['options'].setValue($event.formatted)"
                                        [selDate]="prefsetting.options && prefsetting.options[0]"></my-date-picker>
                                </div>
                                <div>
                                    <input type="text" formControlName="pref_id" class="form-control" hidden>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="(prefsetting.typeOfPreference) == '6'">
                            <div class="panel-heading">
                                <span>{{i + 1}} {{prefsetting.preferenceTitle}}</span>
                            </div>
                            <div [formGroupName]="i" *ngFor="let option of prefsetting.optionsValue">
                                <div *ngFor="let img of imageurl[i]; let j = index;">
                                    <span *ngIf="img.type==0">
                                    <div>
                                        <img [src]="img.imageUrl" width="200px" height="200px">
                                    </div>
                                    <button *ngIf="!cropper" (click)="chngImage()" class="btn btn-default">Change Image</button>
                                    <div *ngIf="changeImage">
                                        <img-cropper [image]="data" [settings]="cropperSettings" (onCrop)="cropped($event, i)"></img-cropper>
                                        <br>
                                        <button class="btn btn-primary" (click)="confirmUpload(i, img.imageUrl)">Finish Cropping & Upload Image</button>
                                        <div class="alert alert-success fade in text-center" *ngIf="uploaded">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                             <strong>Photo Uploaded Successfully.</strong>
                                        </div>
                                    </div>
                                </span>
                                    <span *ngIf="img.type==1">
                                    <video width="400" height="200" [src]="img.imageUrl" controls>
                                        Your browser does not support HTML5 video.
                                    </video>
                                    <div class="form-group">
                                        <label>Choose Image<sup>*</sup></label>
                                        <input type="file" (change)="fileChangeEvent($event, i, img.imageUrl)" class="form-control" name="photo">
                                    </div>
                                </span>
                                </div>
                                <div>
                                    <input type="text" formControlName="pref_id" class="form-control" hidden>
                                </div>
                            </div>
                            <!-- <div [formGroupName]="i">
                                <img-cropper [image]="data" [settings]="cropperSettings" (onCrop)="cropped($event, i)"></img-cropper>
                                <br>
                                <button class="btn btn-primary" (click)="confirmUploadNew(i)">Finish Cropping & Upload Image</button>
                                <div class="alert alert-success fade in text-center" *ngIf="uploaded">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                      <strong>Photo Uploaded Successfully.</strong>
                                </div>
                        </div> -->
                        </div>
                        <div *ngIf="(prefsetting.typeOfPreference) == '7'">

                            <div class="panel-heading">
                                <span>{{i + 1}} {{prefsetting.preferenceTitle}}</span>
                            </div>
                            <div>
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Farm Name *" [(ngModel)]="farmName" [ngModelOptions]="{standalone: true}" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" [(ngModel)]="streetName" [ngModelOptions]="{standalone: true}" placeholder="Street Name *" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <input type="text" [(ngModel)]="city" [ngModelOptions]="{standalone: true}" placeholder="City *" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" [(ngModel)]="state" [ngModelOptions]="{standalone: true}" placeholder="State *" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <input type="text" [(ngModel)]="zipCode" [ngModelOptions]="{standalone: true}" placeholder="Zip Code *" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" [(ngModel)]="country" [ngModelOptions]="{standalone: true}" placeholder="Country Name *" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div *ngIf="mandatoryDataMissing">
                                            <strong class="form-control" style="color:red">Please fill the required fields marked with asterisk *</strong>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" [(ngModel)]="apt" [ngModelOptions]="{standalone: true}" placeholder="Building Name (optional)" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div [formGroupName]="i">
                                <!-- *ngFor="let option of prefsetting.options" -->
                                <!--<div>
                                <input type="date" formControlName="options" class="form-control" placeholder="Title">
                            </div>-->
                                <div>
                                    <input type="text" formControlName="pref_id" class="form-control" hidden>
                                </div>

                                <div class="form-group" (mouseover)="initMap()">
                                    <label class="col-xs-12">Set Latitude & Longitude By Searching Address<sup>*</sup></label>
                                    <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
                                        id="search" [formControl]="searchControl" style="width: 50%;float: left;">

                                    <select *ngIf="farmDetailsData.length > 0" class="form-control" (change)="selectFarmData($event.target.value)" style="width: 50%;">                                           
                                            <option value="">Do you want to select from saved addresses ?</option>
                                            <option *ngFor="let farm of farmDetailsData" value="{{farm | json}}">
                                                {{farmData(farm)}}
                                              </option>
                                          </select>
                                    <sebm-google-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                                        <sebm-google-map-marker [latitude]="latitude" [longitude]="longitude"></sebm-google-map-marker>
                                    </sebm-google-map>
                                    <div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div *ngIf="(prefsetting.typeOfPreference) == '8'">
                            <div class="panel-heading">
                                <span>{{i + 1}} {{prefsetting.preferenceTitle}}</span>
                            </div>
                            <div [formGroupName]="i" *ngFor="let option of prefsetting.optionsValue">
                                <span *ngIf="imageurl[i]">
                                <div>
                                    <video width="400" height="200" controls>
                                        <source [src]="imageurl[i]">
                                        Your browser does not support HTML5 video.
                                    </video>
                                </div>
                            </span>
                                <div class="form-group">
                                    <label>Choose Video<sup>*</sup></label>
                                    <input type="file" (change)="fileChangeEvent($event, i)" class="form-control" name="photo">
                                </div>
                                <div>
                                    <input type="text" formControlName="pref_id" class="form-control" hidden>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="mandatoryDataMissing">
            <strong class="form-control" style="color:red">Please fill the required fields of Location</strong>
        </div>
        <button type="submit" *ngIf="locationStatus" class="btn btn-default" (click)="editPost(1)">Save</button>
        <button type="submit" *ngIf="!locationStatus" class="btn btn-default" (click)="editPost(0)">Save</button>
    </form>
</ba-card>