<ba-card baCardClass="with-scroll table-panel" title="Create New Show">
    <div class="row">
        <form [formGroup]="createShowForm" novalidate>
            <div class="form-group">
                <label>Product Type<sup>*</sup></label>
                <select class="form-control" formControlName="productId">
                    <option *ngFor="let producttype of productypes" [value]="producttype._id" >{{producttype.productName}}</option>
                </select>
                <!--<small *ngIf="!createShowForm.controls.showName.valid">Required.</small>-->
            </div>
            <div class="form-group">
                <label>Show Name<sup>*</sup></label>
                <input type="text" class="form-control" formControlName="showName" placeholder="">
                <!--<small *ngIf="!createShowForm.controls.showName.valid">Required.</small>-->
            </div>
            <div class="form-group">
                <label>Start Date<sup>*</sup></label><br>
                <!--<input type="date" formControlName="startDate" class="form-control">-->
                <my-date-picker [options]="myDatePickerOptions" (dateChanged)="this.createShowForm.controls['startDate'].setValue($event.formatted)"
                    [selDate]="createShowForm.controls.startDate.value"></my-date-picker>
                <!--<small *ngIf="!createShowForm.controls.startDate.valid">Required.</small>-->
            </div>
            <div class="form-group">
                <label>End Date<sup>*</sup></label><br>
                <!--<input type="date" formControlName="endDate" class="form-control">-->
                <my-date-picker [options]="myDatePickerOptions" (dateChanged)="this.createShowForm.controls['endDate'].setValue($event.formatted)"
                    [selDate]="createShowForm.controls.endDate.value"></my-date-picker>
                <!--<small *ngIf="!createShowForm.controls.endDate.valid">Required.</small>-->
            </div>
            <div class="form-group">
                <label>Set Latitude & Longitude By Searching Address<sup>*</sup></label>
                <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
                    #search [formControl]="searchControl" (change)="check($event)">
                <sebm-google-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                    <sebm-google-map-marker [latitude]="latitude" [longitude]="longitude"></sebm-google-map-marker>
                </sebm-google-map>
            </div>
            <div class="form-group">
                <label>Latitude<sup>*</sup></label>
                <input type="number" class="form-control" formControlName="lat" placeholder="" [value]="latitude">
                <!--<small *ngIf="!createShowForm.controls.lat.valid">Required.</small>-->
            </div>
            <div class="form-group">
                <label>Longitude<sup>*</sup></label>
                <input type="number" class="form-control" formControlName="lng" placeholder="" [value]="longitude">
                <!--<small *ngIf="!createShowForm.controls.lng.valid">Required.</small>-->
            </div>
            <div class="form-group">
                <img-cropper [image]="data" [settings]="cropperSettings" (onCrop)="cropped($event, i)"></img-cropper>
                <br>
                <button class="btn btn-primary" (click)="confirmUpload()">Finish Cropping & Upload Image</button>
                <div class="alert alert-success fade in text-center" *ngIf="uploaded">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <!--<strong>No Users Found</strong> Try Searching Again.-->
                    <strong>Photo Uploaded Successfully.</strong>
                </div>
            </div>
            <!--<small *ngIf="!createShowForm.controls.imgPath.valid">Required.</small>-->
            <div class="form-group">
                <label>Venue<sup>*</sup></label>
                <textarea class="form-control" rows="4" formControlName="venue"></textarea>
            </div>
            <!--<small *ngIf="!createShowForm.controls.venue.valid">Required.</small>-->
            <div class="form-group">
                <label>Description<sup>*</sup></label>
                <textarea formControlName="Description" class="form-control" rows="4"></textarea>
            </div>
            <!--<small *ngIf="!createShowForm.controls.Description.valid">Required.</small>-->
            <div *ngIf="posts">
                <label>Choose Posts<sup>*</sup></label>
                <div class="form-inline">
                    <label class="form-inline col-md-2" *ngFor="let i=index; let post of posts"><input type="checkbox" (change)="setPost($event, post)"> {{post.productName}}</label>
                </div>
            </div>
            <!--<small *ngIf="!createShowForm.controls.posts.valid">Required.</small>-->
            <!--<small *ngIf="!createShowForm.controls.posts.controls.postId.valid">Required.</small>-->
        </form>
    </div>
    <button type="submit" class="btn btn-primary" (click)="createShow()" [disabled]="!createShowForm.valid">Save</button>
</ba-card>