.panel {
    margin-bottom: 20px;
    background-color: #767778;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-default>.panel-heading {
        color: #f2f2f2;
    background-color: #767778;
    
    border-color: #ddd;
}
.panel-heading {
    padding: 2px 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.modal-body a {
  color: #141414 !important;
}
.panel {
  margin-bottom: 10px !important;
}
.form-check-inline {
    position: relative;
    display: inline-block;
    padding-left: 1.25rem;
    margin-bottom: 0;
    vertical-align: middle;
    cursor: pointer;
}
.form-check-input:only-child {
    position: static;
}

.form-check-input {
    position: absolute;
    margin-top: .25rem;
    margin-left: -1.25rem;
}
.form-check-inline+.form-check-inline {
    margin-left: .75rem;
}
.badge{
  display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #000017;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #fff;
    border-radius: 10px;
}
.form-inline .badge {
    float: right;
}
.sebm-google-map-container {
      height: 300px;
    }