<div class="row">
  <div class="col-md-12">
    <button type="button" routerLink="/pages/shows/create" class="btn btn-primary pull-right">Create New</button>
  </div>
  <br>
  <div class="col-lg-12 col-md-12">
    <ba-card baCardClass="with-scroll table-panel" *ngIf="shows">
      <input class="form-control" placeholder="Search for.." [formControl]="searchControl">
      <br>
      <div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Show Name</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Venue</th>
              <th>Product Type</th>
              <th>No. Of Participants</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let show of shows; let i = index;">
              <td>{{ i + 1 }}</td>
              <td>{{ show.showName }}</td>
              <td>{{ show.startDate | date:'longDate' }}</td>
              <td>{{ show.endDate | date:'longDate' }}</td>
              <td>{{ show.venue }}</td>
              <td>{{ show.productType }}</td>
              <td>{{ show.postsSize }}</td>
              <td><button type="button" class="btn btn-info btn-xs" (click)="editShow(show._id)">Edit</button></td>
              <td><button type="button" data-toggle="modal" data-target="#confirmDel" class="btn btn-danger btn-xs" (click)="getshowById(show)">Delete</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </ba-card>
  </div>
</div>
<!-- Modal -->
<div id="confirmDel" class="modal fade" role="dialog">
  <div class="modal-dialog" *ngIf="showById">
    <!-- Modal content-->
    <div class="modal-content">
      <!--<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Modal Header</h4>
			</div>-->
      <div class="modal-body">
        <h2>Are you sure to delete?</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="deleteShow(showById._id)">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>