.status-button {
  width: 60px;
}
.modal-content {
  background-color:#ffffff;
}
.table-bordered > tbody > tr > td{
  text-align: center
}
.table > tbody > tr > td:first-child{
  text-align: center !important
}
.table > thead > tr > th {
  text-align: center;
  font-weight: bold;
}
small {
  color: black;
}