<button type="button" (click)="goBack()" class="btn btn-primary">Back</button>
<ba-card baCardClass="with-scroll table-panel" title="Create New Preference Setting for {{producttypes}}">
    <form [formGroup]="createPrefForm" novalidate>
        <!--<input type="hidden" formControlName="mapId" value="creditById.mapId">-->
        <div class="form-group">
            <label>Product Type<sup>*</sup></label>
            <input type="text" class="form-control" formControlName="productType" disabled>
            <!--<small *ngIf="!createPrefForm.controls.fixedCost.valid">Set it to Zero If Not Applicable</small>-->
        </div>
        <div class="form-group">
            <label>Preference Title<sup>*</sup></label>
            <input type="text" class="form-control" formControlName="preferenceTitle" placeholder="">
            <!--<small *ngIf="!createPrefForm.controls.mappingName.valid">Required.</small>-->
        </div>
        <div class="form-group">
            <label>Type Of Preference<sup>*</sup></label>
            <select class="form-control" formControlName="typeOfPreference" (change)="check($event)" [(ngModel)]="TOP">
			  <option [value]="1">Radio Button</option>
              <option [value]="2">Check Box</option>
              <option [value]="3">Numeric Range</option>
              <option [value]="4">Text Input</option>
              <option [value]="5">Calender</option>
              <option [value]="6">Image</option>
              <option [value]="7">Location</option>
              <option [value]="8">Video</option>
            </select>
            <!--<small *ngIf="!createPrefForm.controls.creditsPerMinute.valid">Set it to Zero If Not Applicable</small>-->
        </div>
        <div class="form-group" *ngIf="TOP == 3">
            <label>Unit<sup>*</sup></label>
            <select class="form-control" formControlName="Unit">
			  <option [value]="1">Km</option>
              <option [value]="2">Miles</option>
              <option [value]="3">Years</option>
              <option [value]="4">Kg</option>
              <option [value]="5">Dollar</option>
            </select>
            <!--<small *ngIf="!createPrefForm.controls.fixedCost.valid">Set it to Zero If Not Applicable</small>-->
        </div>
        <label class="form-check-inline">
            <input class="form-check-input" type="checkbox" placeholder="" (change)="setMandatory($event)"> Mandatory
        </label>
        <label class="form-check-inline">
            <input class="form-check-input" type="checkbox" placeholder="" (change)="setOCS($event)"> Minimum Requirement
        </label>
        <div formArrayName="optionsValue">
            <div *ngIf="(TOP == 1 || TOP == 2)">
                <div *ngFor="let option of createPrefForm.controls.optionsValue.controls; let i=index" class="panel panel-default">
                    <div class="panel-heading">
                        <span>Option No. {{i + 1}}</span>
                        <button class="close" *ngIf="createPrefForm.controls.optionsValue.controls.length > 1" (click)="deleteOptions(i)" type="button">×</button>
                    </div>
                    <div>
                        <input type="text" class="form-control" formControlName="{{i}}" placeholder="Title">
                    </div>
                </div>
                <div>
                    <button class="btn btn-xs btn-default" (click)="addOptions()">
            Add another Option +</button>
                </div>
            </div>
            <div *ngIf="(TOP == 3)">
                <div *ngFor="let option of createPrefForm.controls.optionsValue.controls; let i=index" class="panel panel-default">
                    <div class="panel-heading">
                        <span>Range For Numeric Value</span>
                    </div>
                    <div *ngIf="i==0">
                        <input type="text" class="form-control" formControlName="{{i}}" placeholder="Minimum">
                    </div>
                    <div *ngIf="i==1">
                        <input type="text" class="form-control" formControlName="{{i}}" placeholder="Maximum">
                    </div>
                </div>
            </div>
            <div *ngIf="(TOP == 7) || (TOP == 5) || (TOP == 6) || (TOP == 8)">
                <div *ngFor="let option of createPrefForm.controls.optionsValue.controls; let i=index" class="panel panel-default">
                    <div>
                        <input type="text" class="form-control" formControlName="{{i}}" placeholder="Title" [value]="TOP" hidden>
                    </div>
                </div>
            </div>
            <div *ngIf="(TOP == 4)">
                <div *ngFor="let option of createPrefForm.controls.optionsValue.controls; let i=index" class="panel panel-default">
                    <div class="panel-heading">
                        <span>Option No. {{i + 1}}</span>
                    </div>
                    <div>
                        <input type="text" class="form-control" formControlName="{{i}}" placeholder="Title">
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-default" (click)="createPref()">Save</button>
    </form>
</ba-card>