<div class="col-lg-12 col-md-12">
    <ba-card baCardClass="with-scroll table-panel" title="Device Log">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Device Type</th>
                    <th>Last Active At</th>
                    <th>Device Make</th>
                    <th>Device Model</th>
                    <th>Device OS</th>
                    <th>App Version</th>
                    <th>Push Token</th>
                </tr>
            </thead>
            <tbody *ngFor="let log of devices; let i = index;">
                <tr>
                    <td>{{ i + 1 }}</td>
                    <td>Apple</td>
                    <td>{{ log.lastActiveTime | date }}</td>
                    <td>{{ log.manufacture }}</td>
                    <td>{{ log.model }}</td>
                    <td>{{ log.os }}</td>
                    <td>{{ log.appVersion }}</td>
                    <td><button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#push" (click)="getToken(log)">Token</button></td>
                </tr>
            </tbody>
        </table>
    </ba-card>
</div>

<!-- Modal -->
<div id="push" class="modal fade" role="dialog" *ngIf="logg">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Push Token</h4>
			</div>
            <div class="modal-body">
                <p>{{logg.pushToken}}</p>
            </div>
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>-->
        </div>
    </div>
</div>