<ba-card baCardClass="with-scroll table-panel" title="Select User To Continue" *ngIf="!userselected">
    <input class="form-control" placeholder="Search User By Name or UserID" [formControl]="searchControl">
    <div>
        <table class="table table-bordered" *ngIf="users">
            <thead>
                <tr>
                    <th>User Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Select</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{ user.userId }}</td>
                    <td>{{ user.name.fName }}</td>
                    <td>{{ user.email.primaryEmail}}</td>
                    <td><input type="checkbox" (change)="selectUser($event,user)"></td>
                </tr>
            </tbody>
        </table>
    </div>
</ba-card>
<ba-card baCardClass="with-scroll table-panel" title="Create New Post" *ngIf="userselected">
    <div class="alert alert-danger fade in text-center" *ngIf="noprefsetting">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <!--<strong>No Users Found</strong> Try Searching Again.-->
        <strong>No Preference Setting Found For This Product Type, Please Select Any Other Product.</strong>
    </div>
    <form [formGroup]="createPostForm" novalidate>
        <!--<input type="hidden" formControlName="mapId" value="creditById.mapId">-->
        <div class="form-group">
            <label>Selected User<sup>*</sup></label>
            <input type="text" formControlName="userId" class="form-control" disabled>
            <!--<ng-select [allowClear]="true"
                        [items]="items"
                        [disabled]="disabled"
                        (data)="refreshValue($event)"
                        (selected)="selected($event)"
                        (removed)="removed($event)"
                        (typed)="typed($event)"
                        placeholder="No city selected">
            </ng-select>-->
        </div>
        <div class="form-group">
            <label>Select Product Type<sup>*</sup></label>
            <select class="form-control" formControlName="productId">
			  <option  *ngFor="let product of producttypes" value="{{product._id}}">{{product.productName}}</option>
            </select>
        </div>
        <div formArrayName="values" *ngIf="!novalues">
            <div *ngFor="let prefsetting of prefsettings; let value of createPostForm.controls.values.controls; let i=index;" class="panel panel-default">
                <div>
                    <div *ngIf="(prefsetting.typeOfPreference) == '1'">
                        <div class="panel-heading">
                            <span>{{i + 1}} {{prefsetting.preferenceTitle}}</span>
                        </div>
                        <div [formGroupName]="i">
                            <div>
                                <label *ngFor="let option of prefsetting.optionsValue"><input type="radio" style="margin-right:2%" value="{{option}}" name="{{prefsetting.preferenceTitle}}" (change)="setRadioValue($event, i)">{{option}}</label>
                            </div>
                            <div>
                                <input type="text" formControlName="pref_id" class="form-control" hidden>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="(prefsetting.typeOfPreference) == '2'">
                        <div class="panel-heading">
                            <span>{{i + 1}} {{prefsetting.preferenceTitle}}</span>
                        </div>
                        <div [formGroupName]="i">
                            <div>
                                <label *ngFor="let option of prefsetting.optionsValue"><input type="checkbox" (change)="setCheckValue($event, i, option)">{{option}}</label>
                            </div>
                            <div>
                                <input type="text" formControlName="pref_id" class="form-control" hidden>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="(prefsetting.typeOfPreference) == '3'">
                        <div class="panel-heading">
                            <span>{{i + 1}} {{prefsetting.preferenceTitle}}</span>
                        </div>
                        <div [formGroupName]="i">
                            <div>
                                <span>Min Value :{{prefsetting.optionsValue[0]}}</span>
                                <span class="pull-right">Max Value :{{prefsetting.optionsValue[1]}}</span>
                                <div>
                                    <input type="text" class="form-control" placeholder="Sale Price" formControlName="options">
                                </div>
                            </div>
                            <div>
                                <input type="text" formControlName="pref_id" class="form-control" hidden>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="(prefsetting.typeOfPreference) == '4'">
                        <div class="panel-heading">
                            <span>{{i + 1}} {{prefsetting.preferenceTitle}}</span>
                        </div>
                        <div [formGroupName]="i" *ngFor="let option of prefsetting.optionsValue">
                            <div *ngIf="(prefsetting.preferenceTitle == 'Description')">
                                <!-- <ckeditor formControlName="options"></ckeditor> -->
                                <textarea type="text" formControlName="options" class="form-control" placeholder="Description"> </textarea>
                            </div>
                            <div *ngIf="!(prefsetting.preferenceTitle == 'Description')">
                                <input type="text" formControlName="options" class="form-control" placeholder="Title">
                            </div>
                            <div>
                                <input type="text" formControlName="pref_id" class="form-control" hidden>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="(prefsetting.typeOfPreference) == '5'">
                        <div class="panel-heading">
                            <span>{{i + 1}} {{prefsetting.preferenceTitle}}</span>
                        </div>
                        <div [formGroupName]="i" *ngFor="let option of prefsetting.optionsValue">
                            <div class="form-group">
                                <!--<input type="date" formControlName="options" class="form-control" placeholder="Title">-->
                                <my-date-picker [options]="myDatePickerOptions" (dateChanged)="this.createPostForm.controls['values'].controls[i].controls['options'].setValue($event.formatted)"></my-date-picker>
                            </div>
                            <div>
                                <input type="text" formControlName="pref_id" class="form-control" hidden>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="(prefsetting.typeOfPreference) == '6'">
                        <div class="panel-heading">
                            <span>{{i + 1}} {{prefsetting.preferenceTitle}}</span>
                        </div>
                        <div [formGroupName]="i">
                            <div>
                                <img-cropper [image]="data" [settings]="cropperSettings" (onCrop)="cropped($event, i)"></img-cropper>
                                <br>
                                <button class="btn btn-primary" (click)="confirmUpload(i)">Finish Cropping & Upload Image</button>
                                <div class="alert alert-success fade in text-center" *ngIf="uploaded">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <!--<strong>No Users Found</strong> Try Searching Again.-->
                                    <strong>Photo Uploaded Successfully.</strong>
                                </div>
                            </div>
                            <!--<span *ngIf="imageurl[i]">
                                <div>
                                    <img [src]="imageurl[i]" [title]="productName | uppercase" [style.width.px]="imageWidth" [style.height.px]="imageHeight" [style.margin-bottom.px]="imageBottom">
                                </div>
                            </span>
                            <div class="form-group">
                                <label>Choose Image<sup>*</sup></label>
                                <input type="file" (change)="fileChangeEvent($event, i)" class="form-control" name="photo">
                            </div>-->
                            <div>
                                <input type="text" formControlName="pref_id" class="form-control" hidden>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="(prefsetting.typeOfPreference) == '7'">
                        <div class="panel-heading">
                            <span>{{i + 1}} {{prefsetting.preferenceTitle}}</span>
                        </div>

                        <div [formGroupName]="i">
                            <div class="form-group">
                                <label class="col-xs-12">Set Latitude & Longitude By Searching Address<sup>*</sup></label>
                                <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
                                id="search" [formControl]="searchControl"  style="width: 50%;float: left;" (change)="checkMap($event)">
                                <select class="form-control" (change)="selectFarmData($event.target.value)"  style="width: 50%;">
                                <!-- <select *ngIf="farmDetailsData.length > 0" class="form-control" (change)="selectFarmData($event.target.value)"  style="width: 50%;"> -->
                                    <option value="">Do you want to select from saved addresses ?</option>
                                    <option *ngFor="let farm of farmDetailsData" value="{{farm | json}}">
                                        {{farmData(farm)}}
                                      </option>
                                  </select>
                                <sebm-google-map [latitude]=latitude [longitude]=longitude [zoom]="zoom">
                                    <sebm-google-map-marker [latitude]=latitude [longitude]=longitude></sebm-google-map-marker>
                                </sebm-google-map>
                            </div>
                        </div>
                        <div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <input type="text" placeholder="Farm Name *" [(ngModel)]="farmName" [ngModelOptions]="{standalone: true}" class="form-control">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" [(ngModel)]="streetNumber" [ngModelOptions]="{standalone: true}" placeholder="Street Name *" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <input type="text" [(ngModel)]="city" [ngModelOptions]="{standalone: true}" placeholder="City *" class="form-control">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" [(ngModel)]="state" [ngModelOptions]="{standalone: true}" placeholder="State *" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <input type="text" [(ngModel)]="zip" [ngModelOptions]="{standalone: true}" placeholder="Zip Code *" class="form-control">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" [(ngModel)]="country" [ngModelOptions]="{standalone: true}" placeholder="Country Name *" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div *ngIf="mandatoryDataMissing">
                                        <strong class="form-control" style="color:red">Please fill the required fields marked with asterisk *</strong>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" [(ngModel)]="apt" [ngModelOptions]="{standalone: true}" placeholder="Building Name (optional)" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="(prefsetting.typeOfPreference) == '8'">
                        <div class="panel-heading">
                            <span>{{i + 1}} {{prefsetting.preferenceTitle}}</span>
                        </div>
                        <div [formGroupName]="i" *ngFor="let option of prefsetting.optionsValue">
                            <span *ngIf="imageurl[i]">
                                <div>
                                    <video width="400" height="200" controls [src]="imageurl[i]">
                                        <!--<source  type="video/mp4">-->
                                        Your browser does not support HTML5 video.
                                    </video>
                                </div>
                            </span>
                            <div class="form-group">
                                <label>Choose Video<sup>*</sup></label>
                                <input type="file" (change)="fileChangeEvent($event, i)" class="form-control" name="photo">
                            </div>
                            <div>
                                <input type="text" formControlName="pref_id" class="form-control" hidden>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-default" (click)="createPost()">Save</button>
    </form>
</ba-card>