<div class="row">
  <div class="col-md-12">
    <button type="button" data-toggle="modal" data-target="#confirmDel" class="btn btn-danger btn-sm pull-right">Delete</button>
    <button type="button" class="btn btn-info btn-sm pull-right" (click)="editShow()" *ngIf="ids.length<2">Edit</button>
    <button type="button" class="btn btn-info btn-sm pull-right" data-toggle="modal" data-target="#makeinactive">Make InActive</button>
    <button type="button" routerLink="/pages/shows/create" class="btn btn-primary btn-sm pull-right">Create New</button>
  </div>
  <br>
  <div class="col-lg-12 col-md-12">
    <ba-card baCardClass="with-scroll table-panel">
      <input class="form-control" placeholder="Search Show By Name" [formControl]="searchControl">
      <br>
      <div class="alert alert-danger fade in text-center" *ngIf="nodata">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <!--<strong>No Users Found</strong> Try Searching Again.-->
        <strong>No Active Show Found, Please Create a New.</strong>
      </div>
      <div class="alert alert-danger fade in text-center" *ngIf="nouserresult">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <!--<strong>No Users Found</strong> Try Searching Again.-->
        <strong>No Search Result Found.</strong>
      </div>
      <div *ngIf="shows">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Select</th>
              <th>#</th>
              <th>Show Name</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Venue</th>
              <th>Product Type</th>
              <th>Participants</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let show of shows; let i = index;">
              <td><input type="checkbox" (change)="setIds($event,show)"></td>
              <td>{{ i + 1 }}</td>
              <td>{{ show.showName }}</td>
              <td>{{ show.startDate | date:'longDate' }}</td>
              <td>{{ show.endDate | date:'longDate' }}</td>
              <td>{{ show.venue }}</td>
              <td>{{ show.productType }}</td>
              <td><button type="button" class="btn btn-default btn-sm" (click)="getParticipants(show)">{{ show.posts.length }}</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </ba-card>
    <button (click)="loadMore()" *ngIf="shows && !disable" class="pull-right btn btn-primary text-uppercase"><i class="fa fa-arrow-down"></i> Load More</button>
  </div>
</div>
<!-- Modal -->
<div id="confirmDel" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <!--<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Modal Header</h4>
			</div>-->
      <div class="modal-body">
        <h2>Are you sure to delete?</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="deleteShow()">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="participants" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Participants Details</h4>
      </div>
      <div class="modal-body" *ngIf="noparticipants">
        <h2>No Participants Found.</h2>
      </div>
      <div class="modal-body" *ngIf="participants">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Post Id</th>
              <th>Post Name</th>
              <th>User Id</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let post of participants; let i = index;">
              <td>{{ i + 1 }}</td>
              <td>{{ post.postId }}</td>
              <td>{{ post.postName }}</td>
              <td>{{ post.userId }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-default" data-dismiss="modal" (click)="deleteShow(showById._id)">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>-->
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="makeinactive" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <!--<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Modal Header</h4>
			</div>-->
      <div class="modal-body">
        <h2>Are you sure to Make This Show In-Active</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="makeShowInActive()">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>