.status-button {
  width: 60px;
}
.modal-content {
  background-color:#ffffff;
}
.table-bordered > tbody > tr > td{
  text-align: center
}
.table > tbody > tr > td:first-child{
  text-align: center !important
}
.table > thead > tr > th {
  text-align: center;
  font-weight: bold;
}
small {
  color: black;
}

.status-button {
  width: 60px;
}
.table-bordered > tbody > tr > td{
  text-align: center
}
.modal-content {
  background-color:#ffffff;
}
.table > tbody > tr > td:first-child{
  text-align: center !important
}
.table > thead > tr > th {
  text-align: center;
  font-weight: bold;
}
.active {
  background: #0275d8 !important;
  transform: scale(1.08);
}
.list-group-item{
  background: #ffffff;
}
li.list-group-item.form-control {
    display: inline-block;
}
.list-group-item .profile-pic{
  margin-top: 3%;
  display: inline-block;
}
.badge{
  display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #000017;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #ffffff;
    border-radius: 10px;
}
.list-group-item>.badge {
    float: right;
}
.list-group-item .profile-pic{
  margin-top: 3%;
  display: inline-block;
}
.boutique_tab a.tap_boutique {
      border: 1px solid rgba(220, 220, 220, 0.87);
      padding: 1%;
      background: #e3e8ec;
      color: black;
      display: inline-block;     
      border-radius: 5px 5px 0px 3px;     
      }
    .boutique_tab a.tap_boutique.active {
      background: #ffffff;
      border-bottom: 1px solid white;
      box-shadow: none;    
    }

select.form-control:not([multiple]) option {
  color: #000
}
.img {
    padding-bottom: 10%;
}
.btn-group{
  margin-right: 5px;
}