<div class="row">
  <div class="col-md-12">
    <button type="button" data-toggle="modal" data-target="#confirmDel" class="btn btn-danger btn-sm pull-right">Delete</button>
    <button type="button" (click)="editFAQ()" class="btn btn-info btn-sm pull-right" *ngIf="ids.length<2">Edit</button>
    <button type="button" class="btn btn-primary btn-sm pull-right" (click)="createFAQ()">Create New</button>
  </div>
  <br>
  <div class="col-lg-12 col-md-12">
    <ba-card baCardClass="with-scroll table-panel">
      <!--<input class="form-control" placeholder="Search FAQ By Name or Country" [formControl]="searchControl">-->
      <br>
      <div class="alert alert-danger fade in text-center" *ngIf="nodata">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <!--<strong>No currency Found</strong> Try Searching Again.-->
        <strong>No FAQ Found.</strong>
      </div>
      <div *ngFor="let f of faq">
        <input type="checkbox" (change)="setIds($event,f)">
        <div class="card card-outline-primary">
          <div class="card-header">
            <h4>{{f.question}}</h4>
          </div>
          <div class="card-block">
            <p class="card-text" [innerHTML]="f.answer"></p>
          </div>
        </div>
      </div>
      <!--<div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Select</th>
              <th>Question</th>
              <th>Answer</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let f of faq let i = index;">
              <td>{{ i + 1 }}</td>
              <td><input type="checkbox" (change)="setIds($event,f)"></td>
              <td>{{ f.question }}</td>
              <td [innerHTML]="f.answer"></td>
            </tr>
          </tbody>
        </table>
      </div>-->
    </ba-card>
  </div>
</div>
<!-- Modal -->
<div id="editFAQ" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit FAQ Detail</h4>
      </div>
      <div class="modal-body" *ngIf="faqById">
        <form [formGroup]="editfaqForm" novalidate>
          <div class="form-group">
            <label>Question<sup>*</sup></label>
            <input type="text" class="form-control" formControlName="question">
          </div>
          <div class="form-group">
            <label>Answer<sup>*</sup></label>
            <input type="text" class="form-control" formControlName="answer">
            <ckeditor formControlName="answer"></ckeditor>
          </div>
          <!--<div class="form-group">
            <label>Symbol<sup>*</sup></label>
            <input type="text" class="form-control" formControlName="symbol">
          </div>-->
          <!--<span *ngIf="imageurl">
                <img [src]="imageurl" height="200px" width="200px">
            </span>
          <div class="form-group">
            <label>Choose Image<sup>*</sup></label>
            <input type="file" ng2FileSelect [uploader]="uploader" class="form-control">
          </div>-->
          <button type="submit" class="btn btn-default" [disabled]="!editfaqForm.valid" data-dismiss="modal" (click)="editFAQ(editfaqForm)">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div id="confirmDel" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <!--<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Modal Header</h4>
			</div>-->
      <div class="modal-body">
        <h2>Are you sure to delete?</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="deleteFAQ()">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>


