<ba-card baCardClass="with-scroll table-panel" title="Edit Show">
    <div class="row">
        <form [formGroup]="editShowForm" novalidate>
            <div class="form-group">
                <label>Product Type<sup>*</sup></label>
                <input type="text" class="form-control" formControlName="productType" placeholder="">
            </div>
            <div class="form-group">
                <label>Show Name<sup>*</sup></label>
                <input type="text" class="form-control" formControlName="showName" placeholder="">
                <small *ngIf="!editShowForm.controls.showName.valid">Required.</small>
            </div>
            <div class="form-group">
                <label>Start Date<sup>*</sup></label>
                <br>
                <!--<input type="date" formControlName="startDate" class="form-control">-->
                <my-date-picker [options]="myDatePickerOptions" (dateChanged)="this.editShowForm.controls['startDate'].setValue($event.formatted)"
                    [selDate]="editShowForm.controls.startDate.value"></my-date-picker>
                <small *ngIf="!editShowForm.controls.startDate.valid">Required.</small>
            </div>
            <div class="form-group">
                <label>End Date<sup>*</sup></label><br>
                <!--<input type="date" formControlName="endDate" class="form-control">-->
                <my-date-picker [options]="myDatePickerOptions" (dateChanged)="this.editShowForm.controls['endDate'].setValue($event.formatted)"
                    [selDate]="editShowForm.controls.endDate.value"></my-date-picker>
                <small *ngIf="!editShowForm.controls.endDate.valid">Required.</small>
            </div>
            <div class="form-group">
                <label>Set Latitude & Longitude By Searching Address<sup>*</sup></label>
                <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
                    #search [formControl]="searchControl">
                <sebm-google-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                    <sebm-google-map-marker [latitude]="latitude" [longitude]="longitude"></sebm-google-map-marker>
                </sebm-google-map>
            </div>
            <div class="form-group">
                <label>Latitude<sup>*</sup></label>
                <input type="number" class="form-control" formControlName="lat" placeholder="">
                <small *ngIf="!editShowForm.controls.lat.valid">Required.</small>
            </div>
            <div class="form-group">
                <label>Longitude<sup>*</sup></label>
                <input type="number" class="form-control" formControlName="lng" placeholder="">
                <small *ngIf="!editShowForm.controls.lng.valid">Required.</small>
            </div>
            <span *ngIf="imageurl">
                <img [src]="imageurl" width="300px" height="200px">
                <br>
            <button *ngIf="!cropper" (click)="chngImage()" class="btn btn-primary">Change Image</button>
            </span>
            <div class="form-group" *ngIf="changeImage">
                <img-cropper [image]="data" [settings]="cropperSettings" (onCrop)="cropped($event, i)"></img-cropper>
                <br>
                <button class="btn btn-primary" (click)="confirmUpload()">Finish Cropping & Upload Image</button>
                <div class="alert alert-success fade in text-center" *ngIf="uploaded">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <!--<strong>No Users Found</strong> Try Searching Again.-->
                    <strong>Photo Uploaded Successfully.</strong>
                </div>
            </div>
            <small *ngIf="!editShowForm.controls.imgPath.valid">Required.</small>
            <div class="form-group">
                <label>Venue<sup>*</sup></label>
                <textarea class="form-control" rows="4" formControlName="venue"></textarea>
            </div>
            <small *ngIf="!editShowForm.controls.venue.valid">Required.</small>
            <div class="form-group">
                <label>Description<sup>*</sup></label>
                <textarea formControlName="Description" class="form-control" rows="4"></textarea>
            </div>
            <small *ngIf="!editShowForm.controls.Description.valid">Required.</small>
            <small *ngIf="alreadyselected">Already Selected</small>
            <div class="form-group">
                <label>Selected Posts<sup>*</sup></label>
                <div class="form-inline">
                    <label class="form-inline col-md-2" *ngFor="let i=index; let post of selectedposts"><input type="checkbox" (change)="setEditPost($event, post)" checked> {{post.postName}}</label>
                </div>
            </div>
            <div class="form-group" *ngIf="posts.length>0">
                <div class="form-inline">
                    <label class="form-inline col-md-2" *ngFor="let i=index; let post of posts"><input type="checkbox" (change)="setPost($event, post)"> {{post.productName}}</label>
                </div>
            </div>
            <!--<small *ngIf="!editShowForm.controls.posts.valid">Required.</small>-->
            <!--<small *ngIf="!editShowForm.controls.posts.controls.postId.valid">Required.</small>-->
        </form>
    </div>
    <button type="submit" class="btn btn-primary" (click)="editShow()">Save</button>
</ba-card>